.about {
  font-size: clamp(16px, 2vw, 24px);
  margin: 0;
  padding: clamp(24px, 2vw, 32px);
}

.socialContact {
  color: #2a2b2a;
  padding: 0 2vw 10% 2vw;
}

.contactHeader {
  text-align: center;
}

.directContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
